.template-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

.template {
    position: relative;
    overflow: visible;
    width: 330px;
    height: 330px;
    background-color: white;
    contain: layout;
}

.template img.background {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    object-fit: cover;
}

.birthday-bg,
.matchday-bg {
    max-width: 330px;
    max-height: 330px;
}

.birthday-player-photo {
    position: absolute;
    bottom: 0px;
    left: 50%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: translateX(-50%);
    z-index: 0;
    box-sizing: border-box !important;
}

.birthday-obj, .thanks-obj {
    position: absolute;
    bottom: 0px;
    width: 330px;
    z-index: 0;
}

.matchday-player-photo {
    position: absolute;
    top: 27%;
    left: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: 1;
    box-sizing: border-box;
    background-color: transparent; /* Важно для прозрачности */

}


.birthday-name {
    position: absolute;
    bottom: 38px;
    right: 10px;
    font-size: 34px;
    font-weight: 200;
    font-family: 'Buran USSR', sans-serif;
    color: #FF0033;
}

.birthday-lastname {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 34px;
    font-weight: 200;
    font-family: 'Buran USSR', sans-serif;
    color: #FF0033;
}

.team-name {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    color: #FF0033;
    font-size: 11px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}


.matchday-data {
    position: absolute;
    top: 40px;
    padding: 2px;
    color: #FF0033;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Helvetica Neue"
}

.matchday-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 0px;
}

.matchday-data_location {
    text-align: center;
    font-size: 10px;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

.matchday-data_date,
.matchday-data_time {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
}

.logo_home {
    position: absolute;
    max-width: 60px;
    bottom: 47px;
    left: 88px;
    z-index: 1;
}

.logo_away {
    position: absolute;
    max-width: 60px;
    bottom: 47px;
    right: 88px;
    z-index: 1;
}

.player-number-container {
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: #FF0033 solid 2px;
    position: absolute;
    right: 10px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-28deg);
}

.player-number {
    color: #FF0033;
    font-family: "Helvetica Neue";
}

.player-role {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-family: Helvetica, sans-serif;
    color: #16503B;
    font-size: 14px;
}

.score {
    position: absolute;
    bottom: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #BFFF00;
    gap: 6px;
}

.score_main {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    gap: 60px;
}

.score_extra {
    font-size: 12px;
}

.score_logo_home,
.statistic_logo_home {
    position: absolute;
    max-width: 60px;
    bottom: 26px;
    left: 15px;
    z-index: 1;
}

.score_logo_away,
.statistic_logo_away {
    position: absolute;
    max-width: 60px;
    bottom: 26px;
    right: 15px;
    z-index: 1;
}

.score_vector {
    position: absolute;
    top: 0;
    width: 330px;
}

.score-player-photo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 330px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.statistic {
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #BFFF00;
    gap: 0px;
}

.statistic_main {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    gap: 60px;
}

.statistic_extra {
    font-size: 11px;
}

.statistic_logo_away,
.statistic_logo_home {
    top: 85px;
}

.statistic_container {
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    color: #16503B;
    font-size: 16px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 7px;
}

.welcome-name-surname{
    position: absolute;
    bottom: 22px;
    left: 14px;
    display: flex;
    gap: 8px;
    color: #BFFF00;
}   

.welcome-name, .welcome-lastname{
    font-size: 24px;
}

.welcome_player-role_container{
    position: absolute;
    bottom: 149px;
    right: 0px;
    width: 156px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_player-role{
    color: white;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.welcome_logo_home{
    position: absolute;
    max-width: 52px;
    top: 38px;
    right: 100px;
    z-index: 1;
}

.welcome_player-photo{
    position: absolute;
    bottom: 107px;
    left: 96px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: 1;
    box-sizing: border-box;
    background-color: transparent;
}

.thanks_name{
    display: flex;
    justify-content: center;
}

.thanks-name{
    position: absolute;
    bottom: 70px;
    align-items: center;
    font-size: 34px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    color: white;
}

.thanks-lastname{
    position: absolute;
    bottom: 35px;
    font-size: 34px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    color: white;
}

.thanks_player-role{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Helvetica, sans-serif;
    color: #BFFF00;
    font-size: 14px;
}

.thanks_player-number-container{
    border-radius: 500px;
    background-color: #FF0033;
    padding: 5px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-28deg);

}

.thanks_player-number{
    color:#BFFF00;
    font-size: 20px;
    font-weight: 600;
}

.thanks-player-photo{
    position: absolute;
    bottom: 50px;
    left: 50%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: translateX(-50%);
    z-index: 0;
    box-sizing: border-box !important;
}

.schedule-player-photo{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 126px;
    object-fit: cover;
    object-position: center 20%;
    transform: translateX(-50%);
    z-index: 1;
    box-sizing: border-box;
    background-color: transparent;
}

.schedule-data_location-container{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 10px;
    background-color: #FF0033;
}

.schedule-data{
    padding: 4px 8px;
    background-color: #BFFF00;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.schedule-row{
    display: flex;
    gap:8px;
}

.schedule-data_date, .schedule-data_time{
    font-size: 14px;
}

.schedule-data_location{
    text-align: center;
    font-size: 10px;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.schedule-logo_first, .schedule-logo_second{
    position: absolute;
    max-width: 36px;
    bottom: 130px;
    right: 20px;
    z-index: 1;
}
.schedule-logo_first{
    right: 54px;
}

.schedule-logo_second{
    right: 8px;
}

.schedule_phrase{
    position: absolute;
    font-family: Helvetica, sans-serif;
    left: 50%;
    top: 130px;
    text-align: center;
    transform: translateX(-50%);
    color:#16503B;
    font-size: 13px;
    width: 100%;
}

.schedule_teams-container{
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 210px;
    gap: 11px;
}

.schedule_teams{
    font-size: 10px;
    font-weight: 400;
    color: #BFFF00;
}

.schedule_container{
    display: flex;
    border: 2px solid #BFFF00;
    position: absolute;
    left: 10px;
    bottom: 12px;
    width: 310px;
}