.navCard-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 140px;
    text-decoration: none;
    color: inherit;
}

.navCard_img {
    max-width: 140px;
    max-height: 140px;
    border: 1px solid #16503B;
}

.navCard_title {
    text-decoration: none;
}