.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  min-width: 320px;
  border-right: 1px solid #ddd;
}

.sidebar-field {
  display: flex;
  flex-direction: column;
}

.sidebar-label {
  font-size: 14px;
  font-weight: 600;
  color: #16503B;
  margin-bottom: 6px;
}

.sidebar-text{
    font-size: 12px;
}

.sidebar-input {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  transition: border 0.2s ease;
}

.sidebar-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
}

.sidebar-input-file {
  padding: 6px 0;
  border: none;
  background: none;
  font-size: 14px;
}
